<!DOCTYPE html>

<html>
    <head>
        <title>Runlater</title>

        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/static/utils.js"></script>

    </head>

    <body class="no_margins">

        <div class="index_header">

        <div class="left_box">
            <a href="/dashboard/"><img src="/static/logo.png" title="Runlater Logo"></a>
        </div>

        <div class="right_box">
            <a href="/doc/">Documentation</a>
            &nbsp; - &nbsp;
            <a href="/profile_user/">Profile</a>
            &nbsp; - &nbsp;
            <a href="/logout_user/">Logout</a>
        </div>

    </div>

    <div class="nav left_box">
        <a id="nav_schedule" href="/dashboard/schedules/">Schedules</a><br/>
        <a id="nav_run" href="/dashboard/runs/">Runs</a><br/>
        <a id="nav_job" href="/dashboard/jobs/">Jobs</a><br/>
        <a id="nav_server" href="/dashboard/servers/">Servers</a>
    </div>

     <div class="left_box content">
         {% block content %}{% endblock %}
     </div>

    </body>
</html>
