
{% extends 'base.html' %}

{% block content %}

<form action="/dashboard/jobs/{{ job.pk }}/" method="POST">

    <button id=job_save">Save</button> <button id="delete_job" type="button">Delete</button>

    {% csrf_token %}

    <br/>
    <br/>

    Job ID {{ job.pk }} - Created At: {{ job.created_at }}<br/>
    <br/>

    <select name="action">
        <option id="job_action_0" value=0>SSH</option>
        <option id="job_action_1" value=1>HTTP</option>
        <option id="job_action_2" value=2>AGENT</option>
    </select>

    <script>
        $("#job_action_{{ job.action }}").attr("selected", "selected");
    </script>

    <br/><br/>


    Command<br/>
    <textarea name="command">{{ job.command }}</textarea><br/><br/>

    Parameters<br/>
    <textarea name="parameters">{{ job.parameters }}</textarea><br/><br/>

    Path<br/>
    <textarea name="path">{{ job.path }}</textarea>

</form>

<script>
    $("#delete_job").click(function() {
        if (confirm("Delete?")) {
            $.ajax({
                url: '/dashboard/jobs/{{ job.pk }}/',
                type: 'DELETE',
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                data: {'csrfmiddlewaretoken': getCookie('csrftoken')},
                success: function (result) {
                    alert("Success!");
                    window.location.href = "/dashboard/jobs/";
                }
            });
        }
    });

    $(document).ready(function() {
        $("#nav_job").addClass("highlight");
    });

</script>

</script>

{% endblock %}