
{% extends 'base.html' %}

{% block content %}

    <button>Add Job</button> Search: <input type="text" id="search" value="{{ search_term }}">

    <select id="page_selector">
    </select> of <input type="text" class="no_border"id="total_pages" READONLY/>

    <br><br>

    <table cellpadding="10px;" border="0" id="jobs" border='1'>
        <thead>
            <th>ID</th>
            <th>TYPE</th>
            <th>COMMAND</th>
            <th>CREATED</th>
            <th>DESCRIPTION</th>
            <th>PATH</th>
            <th>PARAMETERS</th>
        </thead>
    </table>

    <script>

        $(document).ready(function(){
            $.getScript("/static/utils.js", function(){
                load_jobs({'search': '{{ search_term }}', 'page': {{ current_page }}}, {{ current_page }});
            });

            $("#page_selector").change(function(val) {
                window.location = '/dashboard/jobs/?page=' + val.currentTarget.value + "&search={{ search_term }}";
            });
            $("#search").change(function(val) {
                window.location = '/dashboard/jobs/?search=' + val.currentTarget.value + "#search";
            });
        });

    </script>


{% endblock %}