
{% extends 'base.html' %}

{% block content %}

    {% include "toolbar.htm" %}

    <table cellpadding="10px;" border="0" id="jobs" border='1'>
        <thead>
            <th><input type="checkbox" id="select_all"/></th>
            <th>ID</th>
            <th>TYPE</th>
            <th>COMMAND</th>
            <th>CREATED</th>
            <th>DESCRIPTION</th>
            <th>PATH</th>
            <th>PARAMETERS</th>
        </thead>
    </table>

    <script>

        $(document).ready(function(){
            load_jobs({'search': '{{ search_term }}', 'page': {{ current_page }}}, {{ current_page }});

            $("#page_selector").change(function(val) {
                window.location = '/dashboard/jobs/?page=' + val.currentTarget.value + "&search={{ search_term }}";
            });
            $("#search").change(function(val) {
                window.location = '/dashboard/jobs/?search=' + val.currentTarget.value + "#search";
            });
        });

        $("#nav_job").addClass("highlight");

    </script>


{% endblock %}