
{% extends 'base.html' %}

{% block content %}

<form>

    Created At: {{ run.created_at }}<br/>
    <br/>

    <select name="action" disabled="disabled">
        <option id="run_action_0" value=0>SSH</option>
        <option id="run_action_1" value=1>HTTP</option>
        <option id="run_action_2" value=2>AGENT</option>
    </select>

    <script>
        $("#run_action_{{ run.action }}").attr("selected", "selected");
    </script>

    <br/><br/>


    Command<br/>
    <textarea name="command" readonly>{{ run.command }}</textarea><br/><br/>

    Return Code<br/>
    <textarea name="return_code" readonly>{{ run.return_code }}</textarea><br/><br/>

    Result<br/>
    <textarea name="result" readonly>{{ run.result }}</textarea><br/><br/>

    Description<br/>
    <textarea name="description" readonly>{{ run.description }}</textarea><br/><br/>

    Path<br/>
    <textarea name="path" readonly>{{ run.path }}</textarea><br/><br/>

    Username<br/>
    <textarea name="username" readonly>{{ run.username }}</textarea><br/><br/>

    Parameters<br/>
    <textarea name="parameters" readonly>{{ run.parameters }}</textarea><br/><br/>

    Path<br/>
    <textarea name="path" readonly>{{ run.path }}</textarea>

</form>


{% endblock %}