
<button id="add_{{ model }}">Add</button>
<button id="delete_{{ model }}">Delete</button>
Search: <input type="text" id="search" value="{{ search_term }}">

<select id="page_selector">
</select> of <input type="text" class="no_border"id="total_pages" READONLY/>

<div class="next_right">
    {% if current_page >= 2 %}
        <a href="/dashboard/{{ model }}/?search={{ search_term }}&page={{ current_page|add:-1 }}">< Prev</a>
    {% endif %}
    <a id="next-link" href="/dashboard/{{ model }}/?search={{ search_term }}&page={{ current_page|add:1 }}">Next ></a>
</div>

<div id="dim_screen" class="dim_screen">
    <img src="/static/ajax-loader.gif"/>
</div>

<script>
    $(".dim_screen").hide();
    $("#next-link").hide();

    $("#add_{{ model }}").click(function () {
        if(confirm("Add new?")) {
           window.location.href = '/dashboard/{{ model }}/add/';
        }
    });
    $("#delete_{{ model }}").click(function () {
        alert(1);
    });

</script>

