
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
}

a {
    color: #DDDDDD;
}

a:hover {
    color: #b3ff56;
}

a:visited:hover {
    color: #b3ff56;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

tr:hover {
    background-color: #b3ff56;
    cursor: pointer;
}

table {
    width: 100%;
}

.content {
}

.next_right {
    text-align: right;
    width: 100%;
}

.next_right a {
    color: #192426;
}
`
.no_margins {
    margin: 0;
}

.no_border {
    border: 0;
}

.index_header {
    background-color: #192426;
    color: #DDDDDD;
    padding: 20px;
    height: 60px;
}

.index_header a {
    color: white;
}

.content {
    margin-top: 20px;
    width: 70%
}


.bglogo {
    background-image: url("/static/main_image.jpg");
    background-color: #222222;
}

.short_margins {
    margin-left: 30%;
    margin-right: 30%;
}

.nav {
    font-size: 1.6em;
    line-height: 250%;
    padding: 40px;
    width: 15%;
}

.nav a{
    color: #192426;
}

.info_box {
    background-color: #192426;
    color: #DDDDDD;
    padding: 16px;
    text-align: center;
    line-height: 200%;
}

.login_box {
    margin-top: 10%;
    height: 300px;
}

.left_box {
    float: left;
}

.right_box {
    float: right;
}

.center_box {
    clear: both;
}

input {
    border: 1px solid #DDDDDD;
    padding: 4px;
}

button {
    border: 1px solid #DDDDDD;
    padding: 4px;
}

.red {
    color: red;
}

.dark {
    background-color: #b3ff56;
    padding: 8px;
    border: 1px solid #DDDDDD;
}

th {
    text-align: left;
}

td {
    text-align: left;
}